<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Codepath Seinfeld Project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC4A31041BD0A38300785025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC4A31181BD0A38300785025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC4A31231BD0A38300785025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
